* {
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'VT323', monospace;
  }

  body {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #001522;

  }

  h1{
      text-align: center;
      padding-bottom: 30px;
  }

  #p1 {
    width: 100px;
    height: 100px;
    position: absolute;
    bottom: 250px;
    left: 0px;
  }

  #p2 {
    width: 100px;
    height: 100px;
    position: absolute;
    bottom: 250px;
    left: 1100px;
  }

  #game {
    width: 1200px;
    height: 600px;
    border: 10px solid black;
    position: relative;
    background-image: url("stranger.gif");
  }

  .mirror {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
  }
  .pointscontainer{
    display: flex;
    justify-content: space-between;
    gap: 10rem;
  }
  p{
    font-size: 8rem;
  }
  button{
    border-radius: 5px;
    background-color: #0f6499;
    font-size: 3rem;
    padding: 20px;
    border: none;
    transition: ease-in-out 0.5s;
}
button:hover{
    background-color: #50a0d3;
}